/* Empty. Add your own CSS if you like */
.has-header {
    top: 88px;
}

.popup-body .has-header {
    top: 64px;
}
.popup-notification .popup-body {
	padding: 0px;
}
.study-content {
	width: 100%;
	text-align: justify;
	padding: 5px;
	resize: none;
	font-family: sans-serif;
    font-size: 12pt;
}

.page-study > .back-button {
	display: block !important;
}
.page-study > .title {
	margin-left: 35px;
}

.div-title-study {
	width: 70%;
    margin-left: 30%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.div-date-study {
	width: 30%;
    float: left;
    text-align: center;
    font-weight: bold;
    background-color: #e5b8b7;
}

.div-date-study > p {
	margin: 5px 0 7.5px;
}